<div class="sep"></div>
<footer>
  <a href="mailto:lorenzoaoulini@gmail.com">lorenzoaoulini@gmail.com</a>
  <div>
    <img
      src="https://raw.githubusercontent.com/edent/SuperTinyIcons/master/images/svg/github.svg"
      width="50"
      height="50"
      alt="github"
    />
    <a href="https://github.com/lolo298/">Github</a>
  </div>
  <div>
    <img
      src="https://raw.githubusercontent.com/edent/SuperTinyIcons/master/images/svg/linkedin.svg"
      width="50"
      height="50"
      alt="Linkedin"
    />
    <a href="https://linkedin.com/in/lorenzo-aoulini-a6772522a/">Linkedin</a>
  </div>
  <select name="lang" id="lang">
    <% if(lang == "en") { %>
    <option value="en" selected>English</option>
    <option value="fr">Français</option>
    <% } else { %>
    <option value="en">English</option>
    <option value="fr" selected>Français</option>
    <% } %>
  </select>
</footer>
<script src="/javascripts/lang.js"></script>
<script src="/javascripts/svg.js"></script>
<% if(dev == "prod" && title == "Lorenzo Aoulini | Portfolio") { %>
<script>
  var animState = 0;
  document.querySelector("#e02QbSUnrjA1").onanimationend = function () {
    $("#logo").show();
    $("#e02QbSUnrjA1").hide();
    $("#logo").addClass("navLogo");
    $(".anim").addClass("navbar");
    document.querySelector(".navbar").addEventListener("animationend", function (e) {
      if (e.animationName == "reduceNav") {
        animState++;
        $("body").css("overflow", "visible");
      }
      if (e.animationName == "reduceNav") {
        $("h1").css("visibility", "visible");
      }
      if (animState == 1) {
        var projects, contact;
        projects = document.createElement("p");
        projects.innerHTML = lang == "en" ? "Projects" : "Projets";
        projects.addEventListener("click", function () {
          document.querySelector(".projects").scrollIntoView({ behavior: "smooth" });
        });
        contact = document.createElement("p");
        contact.innerHTML = "Contact";
        contact.addEventListener("click", function () {
          document.querySelector("footer").scrollIntoView({ behavior: "smooth" });
        });
        var nav = document.createElement("div");
        nav.id = "nav-content";
        nav.appendChild(projects);
        nav.appendChild(contact);
        document.querySelector(".navbar").appendChild(nav);
      }
    });
  };
</script>
<% } else { %>
<script>
  var projects, contact;
  projects = document.createElement("p");
  projects.innerHTML = lang == "en" ? "Projects" : "Projets";
  projects.classList.add("navItem");
  projects.style.cursor = "pointer";
  projects.addEventListener("click", function () {
    window.location.href = "/projects";
  });
  contact = document.createElement("p");
  contact.innerHTML = "Contact";
  contact.classList.add("navItem");
  contact.addEventListener("click", function () {
    document.querySelector("footer").scrollIntoView({ behavior: "smooth" });
  });
  var nav = document.createElement("div");
  nav.id = "nav-content";
  nav.appendChild(projects);
  nav.appendChild(contact);
  document.querySelector(".navbar").appendChild(nav);
</script>
<%} %> <% if(title == "Lorenzo Aoulini | Portfolio") { %>
<script src="/javascripts/index.js"></script>
<% } else { %>
<script src="/javascripts/navbar.js"></script>
<% } if(title == "Lorenzo Aoulini | Projects") { %>
<script src="/javascripts/projects.js"></script>
<% } if(title == "Lorenzo Aoulini | Timeline") { %>
<script src="/javascripts/timeline.js"></script>
<% } %>
